/* Global */

*, *::before, *::after {
    box-sizing: border-box;   
}

body {
    color: #fff;
    background: #232323;
    margin: 0;
    padding: 0;
    font-size: 18px;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
}

/* Header */

.header {
    background: #363636;
    width: 100%;
    height: 150px;
}

.header__title {
    margin-top: 0;
    padding-top: 30px;
}

.header__quote {
    font-style: italic;
}

/* Content */

.content__poem {
    line-height: 1.8;
    font-size: 20px;
    position: relative;
    margin-top: 100px;
}

.content__poem::before {
    content: "***";
    position: absolute;
    left: 50%;
    top: -50px;
    transform: translateX(-50%);
}

/* Footer */

.footer {
    background: #121212;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: -ms-flexbox;
    display: flex;
}

